# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
# https://mestrak.com/blog/semantic-release-with-python-poetry-github-actions-20nn

name: CI/CD
on:
  push:
    branches: [ master ]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install Python Poetry
      uses: abatilo/actions-poetry@v2.1.2
      with:
        poetry-version: 1.1.6
    - name: View poetry version
      run: poetry --version
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libsndfile1
        poetry run pip install 'setuptools==59.5.0'
        poetry install
    - name: Test with pytest
      run: |
        HYPOTHESIS_PROFILE="ci" RUN_SLOW=1 poetry run pytest -sv --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        env_vars: PYTHON
        name: codecov-thunder
        fail_ci_if_error: true

  # https://python-semantic-release.readthedocs.io/en/latest/automatic-releases/github-actions.html
  Release:
    needs: Test
    runs-on: ubuntu-latest
    concurrency: release
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Python Semantic Release
      uses: relekang/python-semantic-release@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        pypi_token: ${{ secrets.PYPI_TOKEN }}
